django-rest-framework = "==0.1.0"
django-nested-admin = "==3.3.3"
django-extensions = "==3.1.0"
django-anymail = "==8.1"
pylint = "==2.6.0"
asgiref = "==3.3.1"
astroid = "==2.4.2"
certifi = "==2020.12.5"
chardet = "==4.0.0"
djangorestframework = "==3.12.2"
idna = "==2.10"
mccabe = "==0.6.1"
python-monkey-business = "==1.0.0"
pytz = "==2020.4"
requests = "==2.25.1"
six = "==1.15.0"
sqlparse = "==0.4.1"
toml = "==0.10.2"
urllib3 = "==1.26.2"
wrapt = "==1.12.1"
Django = "==3.1.4"
Pillow = "==8.0.1"
django-ckeditor = "*"
django-allauth = "*"
django-filter = "*"
django-cors-headers = "*"
channels = "*"
channels-redis = "*"
exponent-server-sdk = "*"
isort = "*"
lazy-object-proxy = "*"
python_version = "3.8"

[packages]
django = "*"
django-nested-admin = "*"
django-anymail = "*"
django-extensions = "*"
pylint = "*"
pillow = "*"
channels = "*"
djangorestframework = "*"
django-cors-headers = "*"
channels-redis = "*"
django-ckeditor = "*"
django-filter = "*"
exponent-server-sdk = "*"
django-clone = "*"
gunicorn = "*"
django-environ = "*"
python-decouple = "*"
daphne = "*"
django-storages = "*"
boto3 = "*"
dj-database-url = "*"
django-s3-folder-storage = "*"
psycopg2-binary = "*"
pyjwt = "*"
drf-extra-fields = "*"
pypdf2 = "*"
django-jet = "*"
